In [5]:
! pip install pymysql

Requirement already satisfied: pymysql in /home/mint/hypenX/InfoGov/.venv/lib/python3.12/site-packages (1.1.1)

In [6]:
import pymysql
import json
import requests
import jellyfish
from datetime import datetime
import re

In [7]:
import pandas
df = pandas.read_csv("../7103.csv")

In [14]:
df

,Country,State,State LGD code,Year,Normal tax payers_avg,Normal tax payers_max,Normal tax payers_min,Normal tax payers_sum,Normal tax payers_count,Normal tax payers_stddev,...,Unique identification number (uin) holders_max,Unique identification number (uin) holders_min,Unique identification number (uin) holders_sum,Unique identification number (uin) holders_count,Unique identification number (uin) holders_stddev,Unique identification number (uin) holders_LandAreaWeight,Unique identification number (uin) holders_TotalPopulationWeight,Unique identification number (uin) holders_NumberOfHouseholdsWeight,Unique identification number (uin) holders_TotalPopulationMaleWeight,Unique identification number (uin) holders_TotalPopulationFemaleWeight
0,India,Jammu And Kashmir,1,"Financial Year (Apr - Mar), 2022",110462.0,110462.0,110462.0,110462.0,1,NaN,...,10.0,10.0,10.0,1,NaN,10.0,10.0,10.0,10.0,10.0
1,India,Himachal Pradesh,2,"Financial Year (Apr - Mar), 2022",99587.0,99587.0,99587.0,99587.0,1,NaN,...,25.0,25.0,25.0,1,NaN,25.0,25.0,25.0,25.0,25.0
2,India,Punjab,3,"Financial Year (Apr - Mar), 2022",344609.0,344609.0,344609.0,344609.0,1,NaN,...,15.0,15.0,15.0,1,NaN,15.0,15.0,15.0,15.0,15.0
3,India,Chandigarh,4,"Financial Year (Apr - Mar), 2022",27759.0,27759.0,27759.0,27759.0,1,NaN,...,3.0,3.0,3.0,1,NaN,3.0,3.0,3.0,3.0,3.0
4,India,Uttarakhand,5,"Financial Year (Apr - Mar), 2022",157239.0,157239.0,157239.0,157239.0,1,NaN,...,11.0,11.0,11.0,1,NaN,11.0,11.0,11.0,11.0,11.0
5,India,Haryana,6,"Financial Year (Apr - Mar), 2022",482254.0,482254.0,482254.0,482254.0,1,NaN,...,31.0,31.0,31.0,1,NaN,31.0,31.0,31.0,31.0,31.0
6,India,Delhi,7,"Financial Year (Apr - Mar), 2022",758918.0,758918.0,758918.0,758918.0,1,NaN,...,316.0,316.0,316.0,1,NaN,316.0,316.0,316.0,316.0,316.0
7,India,Rajasthan,8,"Financial Year (Apr - Mar), 2022",672438.0,672438.0,672438.0,672438.0,1,NaN,...,86.0,86.0,86.0,1,NaN,86.0,86.0,86.0,86.0,86.0
8,India,Uttar Pradesh,9,"Financial Year (Apr - Mar), 2022",1377315.0,1377315.0,1377315.0,1377315.0,1,NaN,...,234.0,234.0,234.0,1,NaN,234.0,234.0,234.0,234.0,234.0
9,India,Bihar,10,"Financial Year (Apr - Mar), 2022",484279.0,484279.0,484279.0,484279.0,1,NaN,...,129.0,129.0,129.0,1,NaN,129.0,129.0,129.0,129.0,129.0
10,India,Sikkim,11,"Financial Year (Apr - Mar), 2022",9384.0,9384.0,9384.0,9384.0,1,NaN,...,4.0,4.0,4.0,1,NaN,4.0,4.0,4.0,4.0,4.0
11,India,Arunachal Pradesh,12,"Financial Year (Apr - Mar), 2022",14641.0,14641.0,14641.0,14641.0,1,NaN,...,5.0,5.0,5.0,1,NaN,5.0,5.0,5.0,5.0,5.0
12,India,Nagaland,13,"Financial Year (Apr - Mar), 2022",7740.0,7740.0,7740.0,7740.0,1,NaN,...,7.0,7.0,7.0,1,NaN,7.0,7.0,7.0,7.0,7.0
13,India,Manipur,14,"Financial Year (Apr - Mar), 2022",11629.0,11629.0,11629.0,11629.0,1,NaN,...,2.0,2.0,2.0,1,NaN,2.0,2.0,2.0,2.0,2.0
14,India,Mizoram,15,"Financial Year (Apr - Mar), 2022",7562.0,7562.0,7562.0,7562.0,1,NaN,...,2.0,2.0,2.0,1,NaN,2.0,2.0,2.0,2.0,2.0
15,India,Tripura,16,"Financial Year (Apr - Mar), 2022",26898.0,26898.0,26898.0,26898.0,1,NaN,...,5.0,5.0,5.0,1,NaN,5.0,5.0,5.0,5.0,5.0
16,India,Meghalaya,17,"Financial Year (Apr - Mar), 2022",28175.0,28175.0,28175.0,28175.0,1,NaN,...,5.0,5.0,5.0,1,NaN,5.0,5.0,5.0,5.0,5.0
17,India,Assam,18,"Financial Year (Apr - Mar), 2022",181474.0,181474.0,181474.0,181474.0,1,NaN,...,33.0,33.0,33.0,1,NaN,33.0,33.0,33.0,33.0,33.0
18,India,West Bengal,19,"Financial Year (Apr - Mar), 2022",637786.0,637786.0,637786.0,637786.0,1,NaN,...,188.0,188.0,188.0,1,NaN,188.0,188.0,188.0,188.0,188.0
19,India,Jharkhand,20,"Financial Year (Apr - Mar), 2022",170659.0,170659.0,170659.0,170659.0,1,NaN,...,40.0,40.0,40.0,1,NaN,40.0,40.0,40.0,40.0,40.0
20,India,Odisha,21,"Financial Year (Apr - Mar), 2022",278441.0,278441.0,278441.0,278441.0,1,NaN,...,44.0,44.0,44.0,1,NaN,44.0,44.0,44.0,44.0,44.0
21,India,Chhattisgarh,22,"Financial Year (Apr - Mar), 2022",133819.0,133819.0,133819.0,133819.0,1,NaN,...,23.0,23.0,23.0,1,NaN,23.0,23.0,23.0,23.0,23.0
22,India,Madhya Pradesh,23,"Financial Year (Apr - Mar), 2022",421752.0,421752.0,421752.0,421752.0,1,NaN,...,97.0,97.0,97.0,1,NaN,97.0,97.0,97.0,97.0,97.0
23,India,Gujarat,24,"Financial Year (Apr - Mar), 2022",1012153.0,1012153.0,1012153.0,1012153.0,1,NaN,...,67.0,67.0,67.0,1,NaN,67.0,67.0,67.0,67.0,67.0
24,India,Maharashtra,27,"Financial Year (Apr - Mar), 2022",1499972.0,1499972.0,1499972.0,1499972.0,1,NaN,...,286.0,286.0,286.0,1,NaN,286.0,286.0,286.0,286.0,286.0
25,India,Andhra Pradesh,28,"Financial Year (Apr - Mar), 2022",303295.0,303295.0,303295.0,303295.0,1,NaN,...,292.0,292.0,292.0,1,NaN,292.0,292.0,292.0,292.0,292.0
26,India,Karnataka,29,"Financial Year (Apr - Mar), 2022",857399.0,857399.0,857399.0,857399.0,1,NaN,...,84.0,84.0,84.0,1,NaN,84.0,84.0,84.0,84.0,84.0
27,India,Goa,30,"Financial Year (Apr - Mar), 2022",38239.0,38239.0,38239.0,38239.0,1,NaN,...,13.0,13.0,13.0,1,NaN,13.0,13.0,13.0,13.0,13.0
28,India,Lakshadweep,31,"Financial Year (Apr - Mar), 2022",228.0,228.0,228.0,228.0,1,NaN,...,0.0,0.0,0.0,1,NaN,0.0,0.0,0.0,0.0,0.0
29,India,Kerala,32,"Financial Year (Apr - Mar), 2022",341278.0,341278.0,341278.0,341278.0,1,NaN,...,35.0,35.0,35.0,1,NaN,35.0,35.0,35.0,35.0,35.0
30,India,Tamil Nadu,33,"Financial Year (Apr - Mar), 2022",1007706.0,1007706.0,1007706.0,1007706.0,1,NaN,...,121.0,121.0,121.0,1,NaN,121.0,121.0,121.0,121.0,121.0
31,India,Puducherry,34,"Financial Year (Apr - Mar), 2022",20581.0,20581.0,20581.0,20581.0,1,NaN,...,3.0,3.0,3.0,1,NaN,3.0,3.0,3.0,3.0,3.0
32,India,Andaman And Nicobar Islands,35,"Financial Year (Apr - Mar), 2022",4243.0,4243.0,4243.0,4243.0,1,NaN,...,0.0,0.0,0.0,1,NaN,0.0,0.0,0.0,0.0,0.0
33,India,Telangana,36,"Financial Year (Apr - Mar), 2022",423698.0,423698.0,423698.0,423698.0,1,NaN,...,57.0,57.0,57.0,1,NaN,57.0,57.0,57.0,57.0,57.0
34,India,Ladakh,37,"Financial Year (Apr - Mar), 2022",6023.0,6023.0,6023.0,6023.0,1,NaN,...,0.0,0.0,0.0,1,NaN,0.0,0.0,0.0,0.0,0.0
35,India,The Dadra And Nagar Haveli And Daman And Diu,38,"Financial Year (Apr - Mar), 2022",14743.0,14743.0,14743.0,14743.0,1,NaN,...,1.0,1.0,1.0,1,NaN,1.0,1.0,1.0,1.0,1.0

In [8]:
timeout = 10
connection = pymysql.connect(
  charset="utf8mb4",
  connect_timeout=timeout,
  cursorclass=pymysql.cursors.DictCursor,
  db="iia_group2",
  host="world-athletics-world-athletics.h.aivencloud.com",
  password="AVNS_q4qfMZEYhnIhreAFwYi",
  read_timeout=timeout,
  port=24936,
  user="avnadmin",
  write_timeout=timeout,
)

In [9]:
states = []
cursor = connection.cursor()
cursor.execute("select state from States")
x = cursor.fetchall()
cursor.close()

In [10]:
unique_state_list = [i["state"] for i in x ]

In [106]:
# x

In [11]:
def check_similarity(col_name_sql,col_name_api):
    pass

def match_state_name(input_state, unique_states_list):
    # Initialize variables to store the best match and highest score
    best_match = None
    highest_score = 0

    # Iterate through the unique states list and calculate Jaro-Winkler scores
    for state in unique_states_list:
        similarity_score = jellyfish.jaro_winkler_similarity(input_state, state)
        if similarity_score > highest_score:
            highest_score = similarity_score
            best_match = state
        # print(similarity_score, state)

    # Return the best matching state name
    if(highest_score < 0.7):
        return None
    return best_match

def get_start_date(string:str):
    try:
        temp = re.split(r"[(),-]",string)
        date_string = "1 " + temp[1] + " " + temp[-1] 
        date_object = datetime.strptime(date_string, "%d %b %Y").date()
        return date_object
    except:
        return None

def get_end_date(string:str):
    try:
        temp = re.split(r"[(),-]",string)
        date_string = "1 " + temp[2] + " " + str(int(temp[-1]) +1)
        date_object = datetime.strptime(date_string, "%d %b %Y").date()
    except:
        return None
    return date_object

In [12]:
def get_month(string: str):
    try:
        temp = re.split(r"[(),-]",string)
        
        date_string = "1 " + temp[-2] + " " + str(int(temp[-1]))
        # print(date_string)
        date_object = datetime.strptime(date_string, "%d %B %Y").date()
    except:
        return None
    return date_object

In [197]:
get_month("December, 2019")

datetime.date(2019, 12, 1)

In [177]:
get_end_date("Financial Year (Apr - Mar), 2017")

datetime.date(2018, 3, 1)

In [15]:
df_per_year = df.drop(["State LGD code","Country"],axis=1)

In [17]:
# df_per_year

In [166]:
# df_per_year
df_per_month = df.drop(["Year","Gst ( goods and service tax ) return type","State lgd code","Country"],axis=1)

In [18]:
# df_per_month

In [ ]:
# import numpy as np
df_per_year = df_per_year.groupby(["State","Year"]).mean().reset_index()

In [20]:
for i in df_per_year.keys():
    x = i.split('_')
    if(len(x) == 2 and x[1] != "avg"):
        print(df_per_year[i])
        df_per_year = df_per_year.drop([i],axis=1)

In [170]:
for i in df_per_month.keys():
    x = i.split('_')
    if(len(x) == 2 and x[1] != "avg"):
        print(df_per_month[i])
        df_per_month = df_per_month.drop([i],axis=1)

In [21]:
df_per_year

,State,Year,Normal tax payers_avg,Composition tax payers_avg,Input service distributor_avg,Casual tax payers_avg,Tax collected at source_avg,Tax deducted at source_avg,Non resident taxpayers_avg,Online information and database access or retrieval services from a place outside india to a non-taxable online recipient_avg,Unique identification number (uin) holders_avg
0,Jammu And Kashmir,"Financial Year (Apr - Mar), 2022",110462.0,8499.0,10.0,5.0,151.0,2593.0,0.0,0.0,10.0
1,Himachal Pradesh,"Financial Year (Apr - Mar), 2022",99587.0,17679.0,33.0,9.0,207.0,1614.0,0.0,0.0,25.0
2,Punjab,"Financial Year (Apr - Mar), 2022",344609.0,36606.0,83.0,27.0,446.0,3369.0,1.0,0.0,15.0
3,Chandigarh,"Financial Year (Apr - Mar), 2022",27759.0,1609.0,84.0,9.0,214.0,760.0,0.0,0.0,3.0
4,Uttarakhand,"Financial Year (Apr - Mar), 2022",157239.0,34265.0,47.0,6.0,352.0,3480.0,0.0,0.0,11.0
5,Haryana,"Financial Year (Apr - Mar), 2022",482254.0,15470.0,608.0,20.0,941.0,2547.0,4.0,0.0,31.0
6,Delhi,"Financial Year (Apr - Mar), 2022",758918.0,16325.0,1045.0,83.0,1381.0,2842.0,4.0,0.0,316.0
7,Rajasthan,"Financial Year (Apr - Mar), 2022",672438.0,134913.0,115.0,8.0,686.0,19619.0,1.0,0.0,86.0
8,Uttar Pradesh,"Financial Year (Apr - Mar), 2022",1377315.0,338879.0,444.0,26.0,1300.0,23645.0,1.0,0.0,234.0
9,Bihar,"Financial Year (Apr - Mar), 2022",484279.0,108500.0,107.0,8.0,374.0,7066.0,0.0,0.0,129.0
10,Sikkim,"Financial Year (Apr - Mar), 2022",9384.0,792.0,2.0,0.0,91.0,354.0,0.0,0.0,4.0
11,Arunachal Pradesh,"Financial Year (Apr - Mar), 2022",14641.0,2258.0,4.0,1.0,84.0,1360.0,0.0,0.0,5.0
12,Nagaland,"Financial Year (Apr - Mar), 2022",7740.0,2065.0,4.0,0.0,92.0,312.0,0.0,0.0,7.0
13,Manipur,"Financial Year (Apr - Mar), 2022",11629.0,1502.0,12.0,0.0,107.0,575.0,0.0,0.0,2.0
14,Mizoram,"Financial Year (Apr - Mar), 2022",7562.0,167.0,4.0,0.0,73.0,296.0,0.0,0.0,2.0
15,Tripura,"Financial Year (Apr - Mar), 2022",26898.0,2916.0,13.0,0.0,113.0,1150.0,0.0,0.0,5.0
16,Meghalaya,"Financial Year (Apr - Mar), 2022",28175.0,2246.0,7.0,4.0,102.0,539.0,0.0,0.0,5.0
17,Assam,"Financial Year (Apr - Mar), 2022",181474.0,36586.0,59.0,24.0,274.0,3331.0,0.0,0.0,33.0
18,West Bengal,"Financial Year (Apr - Mar), 2022",637786.0,58056.0,499.0,49.0,746.0,11486.0,1.0,0.0,188.0
19,Jharkhand,"Financial Year (Apr - Mar), 2022",170659.0,17589.0,36.0,4.0,287.0,3523.0,0.0,0.0,40.0
20,Odisha,"Financial Year (Apr - Mar), 2022",278441.0,28036.0,59.0,22.0,293.0,4000.0,0.0,0.0,44.0
21,Chhattisgarh,"Financial Year (Apr - Mar), 2022",133819.0,34105.0,26.0,66.0,258.0,3373.0,0.0,0.0,23.0
22,Madhya Pradesh,"Financial Year (Apr - Mar), 2022",421752.0,52846.0,123.0,22.0,557.0,15680.0,0.0,0.0,97.0
23,Gujarat,"Financial Year (Apr - Mar), 2022",1012153.0,96371.0,287.0,45.0,869.0,19118.0,1.0,0.0,67.0
24,Maharashtra,"Financial Year (Apr - Mar), 2022",1499972.0,122786.0,1807.0,50.0,1414.0,43751.0,9.0,0.0,286.0
25,Andhra Pradesh,"Financial Year (Apr - Mar), 2022",303295.0,110858.0,53.0,81.0,473.0,3167.0,0.0,0.0,292.0
26,Karnataka,"Financial Year (Apr - Mar), 2022",857399.0,111240.0,465.0,198.0,1336.0,17543.0,0.0,0.0,84.0
27,Goa,"Financial Year (Apr - Mar), 2022",38239.0,5161.0,77.0,17.0,208.0,734.0,0.0,0.0,13.0
28,Lakshadweep,"Financial Year (Apr - Mar), 2022",228.0,21.0,0.0,0.0,58.0,29.0,0.0,0.0,0.0
29,Kerala,"Financial Year (Apr - Mar), 2022",341278.0,51354.0,91.0,21.0,761.0,7361.0,2.0,0.0,35.0
30,Tamil Nadu,"Financial Year (Apr - Mar), 2022",1007706.0,71667.0,506.0,70.0,1134.0,12877.0,1.0,0.0,121.0
31,Puducherry,"Financial Year (Apr - Mar), 2022",20581.0,2467.0,8.0,1.0,159.0,363.0,0.0,0.0,3.0
32,Andaman And Nicobar Islands,"Financial Year (Apr - Mar), 2022",4243.0,810.0,4.0,0.0,72.0,322.0,0.0,0.0,0.0
33,Telangana,"Financial Year (Apr - Mar), 2022",423698.0,61061.0,349.0,162.0,667.0,21683.0,3.0,0.0,57.0
34,Ladakh,"Financial Year (Apr - Mar), 2022",6023.0,576.0,1.0,0.0,34.0,350.0,0.0,0.0,0.0
35,The Dadra And Nagar Haveli And Daman And Diu,"Financial Year (Apr - Mar), 2022",14743.0,625.0,4.0,2.0,147.0,259.0,0.0,0.0,1.0

In [23]:
# df_per_year

In [24]:
df_per_year["state"] = df_per_year.apply(lambda x : match_state_name(x["State"],unique_state_list),axis=1)
df_per_year["start_date"] = df_per_year.apply(lambda x : get_start_date(x["Year"]),axis=1)
df_per_year["end_date"] = df_per_year.apply(lambda x : get_end_date(x["Year"]),axis=1)

In [35]:
col_name = ["state","start_date","end_date"]
for i in df_per_year.keys():
    x = i.split('_')
    if(len(x) == 2 and x[1] == "avg"):
        print(df_per_year[i])
        df_per_year[x[0]] = df_per_year[i]
        col_name.append(x[0])

0      110462.0
1       99587.0
2      344609.0
3       27759.0
4      157239.0
5      482254.0
6      758918.0
7      672438.0
8     1377315.0
9      484279.0
10       9384.0
11      14641.0
12       7740.0
13      11629.0
14       7562.0
15      26898.0
16      28175.0
17     181474.0
18     637786.0
19     170659.0
20     278441.0
21     133819.0
22     421752.0
23    1012153.0
24    1499972.0
25     303295.0
26     857399.0
27      38239.0
28        228.0
29     341278.0
30    1007706.0
31      20581.0
32       4243.0
33     423698.0
34       6023.0
35      14743.0
Name: Normal tax payers_avg, dtype: float64
0       8499.0
1      17679.0
2      36606.0
3       1609.0
4      34265.0
5      15470.0
6      16325.0
7     134913.0
8     338879.0
9     108500.0
10       792.0
11      2258.0
12      2065.0
13      1502.0
14       167.0
15      2916.0
16      2246.0
17     36586.0
18     58056.0
19     17589.0
20     28036.0
21     34105.0
22     52846.0
23     96371.0
24    122786.0
25    110858.0
26    111240.0
27      5161.0
28        21.0
29     51354.0
30     71667.0
31      2467.0
32       810.0
33     61061.0
34       576.0
35       625.0
Name: Composition tax payers_avg, dtype: float64
0       10.0
1       33.0
2       83.0
3       84.0
4       47.0
5      608.0
6     1045.0
7      115.0
8      444.0
9      107.0
10       2.0
11       4.0
12       4.0
13      12.0
14       4.0
15      13.0
16       7.0
17      59.0
18     499.0
19      36.0
20      59.0
21      26.0
22     123.0
23     287.0
24    1807.0
25      53.0
26     465.0
27      77.0
28       0.0
29      91.0
30     506.0
31       8.0
32       4.0
33     349.0
34       1.0
35       4.0
Name: Input service distributor_avg, dtype: float64
0       5.0
1       9.0
2      27.0
3       9.0
4       6.0
5      20.0
6      83.0
7       8.0
8      26.0
9       8.0
10      0.0
11      1.0
12      0.0
13      0.0
14      0.0
15      0.0
16      4.0
17     24.0
18     49.0
19      4.0
20     22.0
21     66.0
22     22.0
23     45.0
24     50.0
25     81.0
26    198.0
27     17.0
28      0.0
29     21.0
30     70.0
31      1.0
32      0.0
33    162.0
34      0.0
35      2.0
Name: Casual tax payers_avg, dtype: float64
0      151.0
1      207.0
2      446.0
3      214.0
4      352.0
5      941.0
6     1381.0
7      686.0
8     1300.0
9      374.0
10      91.0
11      84.0
12      92.0
13     107.0
14      73.0
15     113.0
16     102.0
17     274.0
18     746.0
19     287.0
20     293.0
21     258.0
22     557.0
23     869.0
24    1414.0
25     473.0
26    1336.0
27     208.0
28      58.0
29     761.0
30    1134.0
31     159.0
32      72.0
33     667.0
34      34.0
35     147.0
Name: Tax collected at source_avg, dtype: float64
0      2593.0
1      1614.0
2      3369.0
3       760.0
4      3480.0
5      2547.0
6      2842.0
7     19619.0
8     23645.0
9      7066.0
10      354.0
11     1360.0
12      312.0
13      575.0
14      296.0
15     1150.0
16      539.0
17     3331.0
18    11486.0
19     3523.0
20     4000.0
21     3373.0
22    15680.0
23    19118.0
24    43751.0
25     3167.0
26    17543.0
27      734.0
28       29.0
29     7361.0
30    12877.0
31      363.0
32      322.0
33    21683.0
34      350.0
35      259.0
Name: Tax deducted at source_avg, dtype: float64
0     0.0
1     0.0
2     1.0
3     0.0
4     0.0
5     4.0
6     4.0
7     1.0
8     1.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
15    0.0
16    0.0
17    0.0
18    1.0
19    0.0
20    0.0
21    0.0
22    0.0
23    1.0
24    9.0
25    0.0
26    0.0
27    0.0
28    0.0
29    2.0
30    1.0
31    0.0
32    0.0
33    3.0
34    0.0
35    0.0
Name: Non resident taxpayers_avg, dtype: float64
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
15    0.0
16    0.0
17    0.0
18    0.0
19    0.0
20    0.0
21    0.0
22    0.0
23    0.0
24    0.0
25    0.0
26    0.0
27    0.0
28    0.0
29    0.0
30    0.0
31    0.0
32    0.0
33    0.0
34    0.0
35    0.0
Name: Online information and database access or retrieval services from a place outside india to a non-taxable online recipient_avg, dtype: float64
0      10.0
1      25.0
2      15.0
3       3.0
4      11.0
5      31.0
6     316.0
7      86.0
8     234.0
9     129.0
10      4.0
11      5.0
12      7.0
13      2.0
14      2.0
15      5.0
16      5.0
17     33.0
18    188.0
19     40.0
20     44.0
21     23.0
22     97.0
23     67.0
24    286.0
25    292.0
26     84.0
27     13.0
28      0.0
29     35.0
30    121.0
31      3.0
32      0.0
33     57.0
34      0.0
35      1.0
Name: Unique identification number (uin) holders_avg, dtype: float64

In [36]:
df_per_year[col_name]

,state,start_date,end_date,Normal tax payers,Composition tax payers,Input service distributor,Casual tax payers,Tax collected at source,Tax deducted at source,Non resident taxpayers,Online information and database access or retrieval services from a place outside india to a non-taxable online recipient,Unique identification number (uin) holders
0,jammu and kashmir,2022-04-01,2023-03-01,110462.0,8499.0,10.0,5.0,151.0,2593.0,0.0,0.0,10.0
1,himachal pradesh,2022-04-01,2023-03-01,99587.0,17679.0,33.0,9.0,207.0,1614.0,0.0,0.0,25.0
2,punjab,2022-04-01,2023-03-01,344609.0,36606.0,83.0,27.0,446.0,3369.0,1.0,0.0,15.0
3,chandigarh,2022-04-01,2023-03-01,27759.0,1609.0,84.0,9.0,214.0,760.0,0.0,0.0,3.0
4,uttarakhand,2022-04-01,2023-03-01,157239.0,34265.0,47.0,6.0,352.0,3480.0,0.0,0.0,11.0
5,haryana,2022-04-01,2023-03-01,482254.0,15470.0,608.0,20.0,941.0,2547.0,4.0,0.0,31.0
6,delhi,2022-04-01,2023-03-01,758918.0,16325.0,1045.0,83.0,1381.0,2842.0,4.0,0.0,316.0
7,rajasthan,2022-04-01,2023-03-01,672438.0,134913.0,115.0,8.0,686.0,19619.0,1.0,0.0,86.0
8,uttar pradesh,2022-04-01,2023-03-01,1377315.0,338879.0,444.0,26.0,1300.0,23645.0,1.0,0.0,234.0
9,bihar,2022-04-01,2023-03-01,484279.0,108500.0,107.0,8.0,374.0,7066.0,0.0,0.0,129.0
10,sikkim,2022-04-01,2023-03-01,9384.0,792.0,2.0,0.0,91.0,354.0,0.0,0.0,4.0
11,andhra pradesh,2022-04-01,2023-03-01,14641.0,2258.0,4.0,1.0,84.0,1360.0,0.0,0.0,5.0
12,nagaland,2022-04-01,2023-03-01,7740.0,2065.0,4.0,0.0,92.0,312.0,0.0,0.0,7.0
13,manipur,2022-04-01,2023-03-01,11629.0,1502.0,12.0,0.0,107.0,575.0,0.0,0.0,2.0
14,mizoram,2022-04-01,2023-03-01,7562.0,167.0,4.0,0.0,73.0,296.0,0.0,0.0,2.0
15,tripura,2022-04-01,2023-03-01,26898.0,2916.0,13.0,0.0,113.0,1150.0,0.0,0.0,5.0
16,meghalaya,2022-04-01,2023-03-01,28175.0,2246.0,7.0,4.0,102.0,539.0,0.0,0.0,5.0
17,assam,2022-04-01,2023-03-01,181474.0,36586.0,59.0,24.0,274.0,3331.0,0.0,0.0,33.0
18,west bengal,2022-04-01,2023-03-01,637786.0,58056.0,499.0,49.0,746.0,11486.0,1.0,0.0,188.0
19,jharkhand,2022-04-01,2023-03-01,170659.0,17589.0,36.0,4.0,287.0,3523.0,0.0,0.0,40.0
20,odisha,2022-04-01,2023-03-01,278441.0,28036.0,59.0,22.0,293.0,4000.0,0.0,0.0,44.0
21,chhattisgarh,2022-04-01,2023-03-01,133819.0,34105.0,26.0,66.0,258.0,3373.0,0.0,0.0,23.0
22,madhya pradesh,2022-04-01,2023-03-01,421752.0,52846.0,123.0,22.0,557.0,15680.0,0.0,0.0,97.0
23,gujarat,2022-04-01,2023-03-01,1012153.0,96371.0,287.0,45.0,869.0,19118.0,1.0,0.0,67.0
24,maharashtra,2022-04-01,2023-03-01,1499972.0,122786.0,1807.0,50.0,1414.0,43751.0,9.0,0.0,286.0
25,andhra pradesh,2022-04-01,2023-03-01,303295.0,110858.0,53.0,81.0,473.0,3167.0,0.0,0.0,292.0
26,karnataka,2022-04-01,2023-03-01,857399.0,111240.0,465.0,198.0,1336.0,17543.0,0.0,0.0,84.0
27,goa,2022-04-01,2023-03-01,38239.0,5161.0,77.0,17.0,208.0,734.0,0.0,0.0,13.0
28,lakshadweep,2022-04-01,2023-03-01,228.0,21.0,0.0,0.0,58.0,29.0,0.0,0.0,0.0
29,kerala,2022-04-01,2023-03-01,341278.0,51354.0,91.0,21.0,761.0,7361.0,2.0,0.0,35.0
30,tamil nadu,2022-04-01,2023-03-01,1007706.0,71667.0,506.0,70.0,1134.0,12877.0,1.0,0.0,121.0
31,puducherry,2022-04-01,2023-03-01,20581.0,2467.0,8.0,1.0,159.0,363.0,0.0,0.0,3.0
32,andaman and nicobar islands,2022-04-01,2023-03-01,4243.0,810.0,4.0,0.0,72.0,322.0,0.0,0.0,0.0
33,telangana,2022-04-01,2023-03-01,423698.0,61061.0,349.0,162.0,667.0,21683.0,3.0,0.0,57.0
34,ladakh,2022-04-01,2023-03-01,6023.0,576.0,1.0,0.0,34.0,350.0,0.0,0.0,0.0
35,the dadra and nagar haveli and daman and diu,2022-04-01,2023-03-01,14743.0,625.0,4.0,2.0,147.0,259.0,0.0,0.0,1.0

In [38]:
df_per_year[col_name].to_csv("trans_GST_info_per_year_data.csv")

In [ ]:
df_per_month["state"] = df_per_month.apply(lambda x : match_state_name(x["State"],unique_state_list),axis=1)
df_per_month["date"] = df_per_month.apply(lambda x : get_month(x["Month"]),axis=1)
df_per_month["registered_payer"] = df_per_month.apply(lambda x : x["Gst ( goods and service tax ) payers registered before due date_avg"] +x["Gst ( goods and service tax ) payers registered after due date_avg"] ,axis=1) 
df_per_month["eligible_payer"] = df_per_month.apply(lambda x : x["Payer eligible for gst ( goods and service tax ) registration_avg"],axis=1)

In [157]:
df_per_year_transformed = df_per_year[["state","start_date","end_date","registered_payer","eligible_payer"]]

In [205]:
df_per_month_transformed =  df_per_month[["state","date","registered_payer","eligible_payer"]]

In [208]:
df_per_month_transformed.dropna()

,state,date,registered_payer,eligible_payer
0,chandigarh,2021-02-01,12708.0,12710.0
1,sikkim,2019-12-01,6056.0,7450.0
2,sikkim,2019-12-01,6486.0,7450.0
3,sikkim,2020-01-01,2761.0,3908.0
4,jammu and kashmir,2017-07-01,45971.0,52455.0
...,...,...,...,...
4243,the dadra and nagar haveli and daman and diu,2022-03-01,13594.0,14581.0
4244,the dadra and nagar haveli and daman and diu,2022-04-01,10632.0,11569.0
4245,the dadra and nagar haveli and daman and diu,2022-04-01,10572.0,11569.0
4246,the dadra and nagar haveli and daman and diu,2022-05-01,10308.0,11640.0
4247,the dadra and nagar haveli and daman and diu,2022-05-01,9914.0,11640.0

In [164]:
df_per_year_transformed.dropna()

,state,start_date,end_date,registered_payer,eligible_payer
0,andaman and nicobar islands,2017-04-01,2018-03-01,2596.500000,3388.833333
1,andaman and nicobar islands,2018-04-01,2019-03-01,2871.958333,4107.000000
2,andaman and nicobar islands,2019-04-01,2020-03-01,2914.541667,3570.041667
3,andaman and nicobar islands,2020-04-01,2021-03-01,3049.166667,3627.708333
4,andaman and nicobar islands,2021-04-01,2022-03-01,3207.208333,3562.750000
...,...,...,...,...,...
211,west bengal,2018-04-01,2019-03-01,375588.041667,437264.333333
212,west bengal,2019-04-01,2020-03-01,411276.708333,492672.916667
213,west bengal,2020-04-01,2021-03-01,408896.416667,511896.625000
214,west bengal,2021-04-01,2022-03-01,404378.250000,455467.500000
215,west bengal,2022-04-01,2023-03-01,322101.500000,366632.000000

In [209]:
df_per_year_transformed.to_csv("trans_register_payers_per_year_data.csv")
df_per_month_transformed.to_csv("trans_register_payers_per_month_data.csv")